@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        Helvetica Neue,
        sans-serif;
    box-sizing: border-box;
}

.font-urdu {
    font-family: 'Noto Nastaliq Urdu', serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .map {
        display: none;
    }
    .details {
        width: 100% !important;
        max-width: none !important;
    }
    .search-popover {
        width: calc(100% - 16px - 16px) !important;
        max-width: none !important;
    }
}
